/*-------------------->> HEADER <<--------------------*/
body{
    background-image: url(../images/naranja.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}
.logo img {
    padding-top: 50px;
    padding-bottom: 40px;
}
h3, p{
    padding-bottom: 10px;
    font-family: 'Aref Ruqaa', serif;
    font-weight: bold;
}
.espacio{
    margin-top: 10px;
}
/*-------------------->> SECTION EJERCICIO <<--------------------*/
button{
    margin-top: 20px;
}
#salida{
    margin-top: 30px;
    font-size: 18px;
}
/*-------------------->> SECTION FOOTER <<--------------------*/
